.bodyCard .tittles p:first-child{
    font-weight: bold;
}

.bodyCard .tittles .cardItem{
    font-size: 14px;
}



@media (max-width:1300px) {
.bodyCard img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.bodyCard{
    width: 300px;
}
}


@media (max-width:900px) {
  
    .bodyCard{
        width: 260px;
    }
    }

    @media (max-width:750px) {
  
        .bodyCard{
            width: 200px;
        }
        }

        @media (max-width:400px) {
  
            .bodyCard{
                width: 140px;
            }
            }