.Menscategories{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-Menscategories{
    height: 1px;
    background-color: rgba(0, 0, 0, 0.148);
    width: 100%;
}
.img-Menscategories{
    position: relative;
    cursor: pointer;
}
.textInfo{
    text-align: center;
    position: relative;
    width: 100%; 
    bottom: 100px;
    
    color: white;
    font-weight: bold;
}



.contained-Menscategories{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.img-Menscategories{
    width: 150px;
   
}
.img-Menscategories img{
object-fit: cover;
width: 100%;
height: 100%;
}

