.containedFooter{
    display: grid;
    grid-template-rows: 90% 10%;
}
.body-containedFooter{
    height: 160px;
    display: grid;
    grid-template-columns:  28% 28% 28% auto;
}

.body-containedFooter ul{
    list-style: none;
}
ul li{
    margin: 5px 0px 0px 5px;
    cursor: pointer;
}
ul li:first-child{
    font-weight: bold;
    cursor: none !important;
    
}
.iconsSocialMedia{
    cursor: pointer;
    margin: 0px 5px 0px 5px;
}