.active{
    background-color: green !important;
}
.alertTaskSix{
    position: absolute;
    bottom: -10px;
    background-color: rgba(255, 0, 0, 0.151);
    border-radius: 8px;
    width: 90%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}

.alertTaskFour{
    position: absolute;
    bottom: 110px;
    background-color: rgba(255, 0, 0, 0.151);
    border-radius: 8px;
    width: 90%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: bold; 
}
.alertTaskThree{
    position: absolute;
    bottom: 70px;
    background-color: rgba(255, 0, 0, 0.151);
    border-radius: 8px;
    width: 90%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: bold; 
}