
.WelcomeImages{
    height: 800px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.WelcomeImages-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 500ms ease;
}

.WelcomeImages-item img:hover{
    transform: scale(1.02);
    transition: all 500ms ease;
    border-radius: 16px;
    cursor: pointer;
}